<template lang="pug">
  .text-center
    v-menu( offset-y )
      template( v-slot:activator="{ on, attrs }" )
        v-btn(
          color="black"
          dark
          v-bind="attrs"
          v-on="on"
          plain
        )
          v-icon( left ) mdi-rss
          | Subscribe

      v-list
        v-list-item(
          v-for="(item, key) in calendars"
          :key="key"
          :href="item.url"
          target="_blank"
        )
          v-list-item-avatar( size="22" tile )
            v-img( :src="`/img/calendar/${item.icon}`" )
          v-list-item-title {{ item.name }}
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

interface ICalendarType {
  name: string;
  icon: string;
  url: string;
}

@Component
export default class SubscribeToCalendar extends Vue {
  calendarName: string = 'Shropshire Beekeepers Association';

  calendarUrl: string = 'http://shropshirebees.co.uk/calendar.ics';

  calendars: ICalendarType[] = [
    {
      name: 'Google',
      icon: 'google.svg',
      url: `https://calendar.google.com/calendar/r?cid=${this.calendarUrl}`,
    },
    {
      name: 'Office 365',
      icon: 'office365.svg',
      url: `https://outlook.office.com/calendar/addfromweb?url=${this.calendarUrl}&name=${this.calendarName}`,
    },
    {
      name: 'Outlook.com',
      icon: 'outlookcom.svg',
      url: `https://outlook.live.com/calendar/addfromweb?url=${this.calendarUrl}&name=${this.calendarName}`,
    },
    {
      name: 'iCal File',
      icon: 'ical.svg',
      url: this.calendarUrl,
    },
  ];
}
</script>
