<template lang="pug">
  div
    v-container
      v-row
        v-col( cols="12" )
          v-row
            v-col( cols="12" md="3" order="1" )

              v-row

                sbka-sidebar

            v-col( cols="12" md="9" order="0" )

              v-row

                v-col( cols="12" md="6" offset-md="3" )

                  sbka-alert(
                    v-if="errorMsg"
                    text
                    color="red"
                    border="left"
                  ) {{ errorMsg }}

                  v-card(
                    flat
                    tile
                  )

                    v-card-text.text--primary
                      | This content is password protected. To view it,
                      | please enter your password below

                      v-text-field(
                        v-model="password"
                        label="Password"
                        :type="showPassword ? 'text' : 'password'"
                        name="password"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required]"
                        @click:append="showPassword = !showPassword"
                        @keyup.enter="submit"
                      )

                    v-card-actions
                      v-btn(
                        color="primary"
                        text
                        @click="submit"
                      ) submit
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { IRoute } from '@/src/interfaces/router';

@Component
export default class Login extends Vue {
  errorMsg = '';

  password = '';

  showPassword = false;

  rules = {
    required: (value: string) => !!value || 'Required.',
  };

  async submit() {
    this.errorMsg = '';

    try {
      const valid = await this.$store.dispatch('members/login', this.password);

      if (valid) {
        let route: IRoute = this.$store.getters['members/loginRoute'];

        if (!route) {
          route = {
            name: 'all',
            params: {
              pathMatch: 'members',
            },
          };
        }

        this.$store.commit('members/goTo', null);

        return this.$router.push(route as any);
      }

      this.errorMsg = 'Invalid password.';
    } catch (err) {
      this.errorMsg = (err as Error).message;
    }
    return undefined;
  }
}
</script>
